{% extends 'templates/base.html.twig' %}

{% use 'templates/menu.html.twig' %}

{% block content %}
	<div class="flex w-full justify-center flex-wrap">
		<div class="shadow-md bg-gray- rounded-lg overflow-hidden w-72 m-10">
			<div class="p-4">
				<div class="flex items-center justify-center">
					<div class="ml-3 w-0 flex-1 pt-0.5">
						<p class="text-sm font-medium text-gray-900">
							Capteur Interieur
						</p>
					</div>
					<div id="valeurInterieur" class="rounded-full h-16 w-16 flex items-center justify-center bg-red-500 text-white">{{ valeurInterieur }}°</div>
				</div>
			</div>
		</div>
		<div class="shadow-md rounded-lg overflow-hidden w-72 m-10">
			<div class="p-4">
				<div class="flex items-center justify-center">
					<div class="ml-3 w-0 flex-1 pt-0.5">
						<p class="text-sm font-medium text-gray-900">
							Capteur Exterieur
						</p>
					</div>
					<div id="valeurExterieur" class="rounded-full h-16 w-16 flex items-center justify-center bg-blue-500 text-white">{{ valeurExterieur }}°</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		let socket = new WebSocket('wss://ws.hothothot.dog:9502');
		socket.onopen = function(event) {
			console.log("Connexion établie");
			socket.send("coucou !");
		}
		socket.onmessage = function(event) {
			datas = JSON.parse(event.data);

			let dataInterieur = document.getElementById("valeurInterieur");
			let dataExterieur = document.getElementById("valeurExterieur");

			dataInterieur.innerHTML = datas.capteurs[0].Valeur + '°';
			dataExterieur.innerHTML = datas.capteurs[1].Valeur + '°';
		}

		let dataInterieur = document.getElementById("valeurInterieur");
		let dataExterieur = document.getElementById("valeurExterieur");
		let alerte = document.getElementById("alert");
		let tempExterieur = dataExterieur.innerHTML.substring(0,dataExterieur.innerHTML.length-1);
		let tempInterieur = dataInterieur.innerHTML.substring(0,dataInterieur.innerHTML.length-1);

		if(tempExterieur > 35)
		{
			alerte.insertAdjacentHTML('beforeend', `<div class="mt-2">
                                <p id="AlerteCapteurs" class="bg-red-600 text-white font-semibold rounded p-2 inline-flex w-full">
                                    <svg class="h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                    <a id="AlertMessage">Hot Hot Hot !</a>
                                </p>
                            </div>`);
			alertButton.classList.remove("bg-gray-800");
			alertButton.classList.remove("text-gray-400");
			alertButton.classList.add("bg-red-600");
			alertButton.classList.add("text-red-200");

		}
		if(tempExterieur < 0)
		{
			alerte.insertAdjacentHTML('beforeend', `<div class="mt-2">
                                <p id="AlerteCapteurs" class="bg-red-600 text-white font-semibold rounded p-2 inline-flex w-full">
                                    <svg class="h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                    <a id="AlertMessage">Banquise en vue !</a>
                                </p>
                            </div>`);
			alertButton.classList.remove("bg-gray-800");
			alertButton.classList.remove("text-gray-400");
			alertButton.classList.add("bg-red-600");
			alertButton.classList.add("text-red-200");

		}
		if(tempInterieur > 22)
		{
			alerte.insertAdjacentHTML('beforeend', `<div class="mt-2">
                                <p id="AlerteCapteurs" class="bg-red-600 text-white font-semibold rounded p-2 inline-flex w-full">
                                    <svg class="h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                    <a id="AlertMessage">Baissez le chauffage !</a>
                                </p>
                            </div>`);
			alertButton.classList.remove("bg-gray-800");
			alertButton.classList.remove("text-gray-400");
			alertButton.classList.add("bg-red-600");
			alertButton.classList.add("text-red-200");

		}
		if(tempInterieur > 50)
		{
			alerte.insertAdjacentHTML('beforeend', `<div class="mt-2">
                                <p id="AlerteCapteurs" class="bg-red-600 text-white font-semibold rounded p-2 inline-flex w-full">
                                    <svg class="h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                    <a id="AlertMessage">Appelez les pompiers ou arrêtez votre barbecue !</a>
                                </p>
                            </div>`);
			alertButton.classList.remove("bg-gray-800");
			alertButton.classList.remove("text-gray-400");
			alertButton.classList.add("bg-red-600");
			alertButton.classList.add("text-red-200");

		}
		if(tempInterieur < 12)
		{
			alerte.insertAdjacentHTML('beforeend', `<div class="mt-2">
                                <p id="AlerteCapteurs" class="bg-red-600 text-white font-semibold rounded p-2 inline-flex w-full">
                                    <svg class="h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                    <a id="AlertMessage">Montez le chauffage ou mettez un gros pull  !</a>
                                </p>
                            </div>`);
			alertButton.classList.remove("bg-gray-800");
			alertButton.classList.remove("text-gray-400");
			alertButton.classList.add("bg-red-600");
			alertButton.classList.add("text-red-200");

		}
		if(tempInterieur < 0)
		{
			alerte.insertAdjacentHTML('beforeend', `<div class="mt-2">
                                <p id="AlerteCapteurs" class="bg-red-600 text-white font-semibold rounded p-2 inline-flex w-full">
                                    <svg class="h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                    </svg>
                                    <a id="AlertMessage">Canalisations gelées, appelez SOS plombier - et mettez un bonnet !</a>
                                </p>
                            </div>`);
			alertButton.classList.remove("bg-gray-800");
			alertButton.classList.remove("text-gray-400");
			alertButton.classList.add("bg-red-600");
			alertButton.classList.add("text-red-200");

		}
		console.log(tempInterieur);
	</script>

{% endblock %}

{% block script %}

{% endblock %}
