{% extends 'templates/base.html.twig' %}

{% use 'templates/menu.html.twig' %}

{% block content %}
	<div class="flex w-full justify-center flex-wrap">
		<div class="hover:shadow-inner shadow-md rounded-lg overflow-hidden w-72 m-10">
			<div class="p-4">
				<div class="flex items-center justify-center">
					<div class="ml-3 w-0 flex-1 pt-0.5">
						<p class="text-sm font-medium text-gray-900">
							Capteur Interieur
						</p>
					</div>
					<div id="valeurInterieur" class="rounded-full h-16 w-16 flex items-center justify-center bg-red-500 text-white">{{ valeurInterieur }}°</div>
				</div>
			</div>
		</div>
		<div class="hover:shadow-inner shadow-md rounded-lg overflow-hidden w-72 m-10">
			<div class="p-4">
				<div class="flex items-center justify-center">
					<div class="ml-3 w-0 flex-1 pt-0.5">
						<p class="text-sm font-medium text-gray-900">
							Capteur Exterieur
						</p>
					</div>
					<div id="valeurExterieur" class="rounded-full h-16 w-16 flex items-center justify-center bg-blue-500 text-white">{{ valeurExterieur }}°</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		let socket = new WebSocket('wss://ws.hothothot.dog:9502');
		socket.onopen = function(event) {
			console.log("Connexion établie");
			socket.send("coucou !");
		}
		socket.onmessage = function(event) {
			datas = JSON.parse(event.data);

			let dataInterieur = document.getElementById("valeurInterieur");
			let dataExterieur = document.getElementById("valeurExterieur");

			dataInterieur.innerHTML = datas.capteurs[0].Valeur + '°';
			dataExterieur.innerHTML = datas.capteurs[1].Valeur + '°';
		}
	</script>

{% endblock %}

{% block script %}

{% endblock %}
