<!DOCTYPE html>

<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Hot Hot Hot !</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#3367D6">
	<link rel="manifest" href="manifest.json">
	<link rel="icon" href="static/img/hhh_logo_512.png">
	<link rel="apple-touch-icon" href="static/img/hhh_logo_512.png">
	<link href="static/css/tailwind.css" rel="stylesheet">
	<script src="static/js/fontAwesome.js"></script>
	<script src="static/js/jquery.js"></script>
	<script src="static/js/chart.js"></script>
	<script src="static/js/index.js"></script>
</head>

<body>
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
    {% block script %}{% endblock %}
</body>
</html>
